@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar;
}
@import "./shadcn.css";

@theme {
  --color-travel-secondary: #202224;
  --color-travel-three: #f5f6fa;
  --color-travel-four: #d5d5d5;
  --color-travel-label: #606060;
  --color-travel-error: #ef3826;
  --color-travel-red: #ef3826;
  --color-travel-table-head: #f1f4f9;
  --color-travel-body: #ebecef;

  --color-travel-primary: #4880ff;
  --color-travel-dark: #202224;
  --color-travel-gray-50: #f1f4f9;
  --color-travel-gray-100: #fafbfd;
  --color-travel-gray-200: #f5f6fa;
  --color-travel-gray-300: #e0e0e0;
  --color-travel-gray-400: #d8d8d8;
  --color-travel-gray-500: #d5d5d5;
  --color-travel-gray-600: #a6a6a6;
  --color-travel-gray-700: #979797;
  --color-travel-gray-800: #606060;
  --color-travel-danger: #ea0234;
  --color-travel-danger-soft: #ef3826;
  --color-travel-warning: #ffa756;
  --color-travel-success: #00b69b;
  --color-travel-pink: #f93c65;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

button,
input,
select,
textarea {
  outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 16px;
}

.nav-item {
  @apply relative mr-2.5 ml-6 flex items-center gap-4 rounded-md px-3 py-4 text-sm font-medium;
}

.nav-item.active::before {
  content: "";
  @apply bg-travel-primary absolute top-0 left-[-24px] h-full w-[4.5px] rounded-tr-sm rounded-br-sm;
}

/* Table */
.srcoll-table::-webkit-scrollbar {
  height: 5px;
}

.srcoll-table::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

/* Filepond */
.filepond--credits {
  display: none;
}

.filepond--root .filepond--drop-label label {
  font-size: 30px;
  cursor: pointer;
}

.filepond--root .filepond--action-remove-item {
  background-color: #ff0000;
  cursor: pointer;
}

.filepond--root .filepond--file-info {
  display: none;
}

/* File Uploader */
.file-uploader .filepond--root {
  margin-bottom: 0 !important;
  width: 150px;
  height: 150px !important;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background-color: #f5f6fa;
}

.file-uploader .filepond--root .filepond--drop-label {
  height: 100%;
}

.file-uploader .filepond--image-preview-wrapper {
  width: 150px !important;
  height: 150px !important;
  top: -17px !important;
  left: -17px !important;
}

.file-uploader .filepond--action-remove-item {
  position: absolute;
  left: 102% !important;
  top: -30px;
}

.file-uploader .filepond--item-panel {
  display: none;
}

.file-uploader .filepond--image-preview-overlay-idle {
  color: transparent;
}

/* File Multi Uploader */
.file-multi-uploader .filepond--root {
  width: 300px;
  max-height: 600px;
}

.file-multi-uploader .filepond--action-remove-item {
  top: 5px !important;
  left: 88% !important;
}

/* Tiny MCE */
.tox-statusbar__branding {
  display: none;
}

/* Badge */
.badge-green {
  background-color: rgba(0, 182, 155, 0.2);
  color: #00b69b;
}

.badge-yellow {
  background-color: rgba(255, 168, 86, 0.2);
  color: #ffa756;
}

.badge-red {
  background-color: rgba(239, 55, 38, 0.2);
  color: var(--color-travel-error);
}

/* Input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* React Datepicker */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  border: 0 !important;
  animation: growDown 0.3s ease-in-out forwards;
  transform-origin: top center;
  background-color: white;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border: none !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #4880ff !important;
}

.react-datepicker__day--keyboard-selected {
  color: white !important;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

.react-datepicker__day {
  font-weight: 600;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
